@import "variables";
@import "mixins";

body {
  color: var(--ta-negro-texto);
  overflow-x: hidden !important;
  @include antialiasing-fix;
}

a {
  color: var(--ta-negro-texto) !important;
}

.separator {
  background-color: var(--ta-celeste);
  display: inline-block;
  height: 2px;
  margin-top: 25px;
  width: 73px;
}

.light-blue-bg {
  background-color: var(--ta-celeste-fondos);
}

.tiempo-blue-bg {
  background-color: var(--ta-celeste);
}

.ta-context {
  &.transparent-bg {
    background-color: transparent;
    .section-title {
      h4 {
        color: #000;
      }
    }

    .category-title {
      h4 {
        color: var(--ta-celeste);
      }
    }
  }

  &.light-blue-bg {
    background-color: var(--ta-celeste-fondos);

    .section-title {
      h4 {
        color: #000;
      }
    }

    .category-title {
      h4 {
        color: var(--ta-celeste);
      }
    }
  }

  &.dark-blue-bg {
    background-color: var(--ta-celeste);
    .format,
    .author {
      p {
        color: white;
      }
    }

    .btns-container {
      .ver-mas {
        button {
          color: white;
        }
      }
    }
  }
}

.section-title {
  h4 {
    @include red-hat-900;
    font-size: 12px;
    margin: 0;

    span {
      @include red-hat-400;
    }
  }
}

.article-border {
  border-top: 2px solid var(--ta-celeste);
  width: 70px;
  margin: 5px 0;
}

.articulo-simple {
  .categories {
    h4 {
      font-size: 13px;
      line-height: 15.88px;

      &.theme {
        @include red-hat-900;
        margin-right: 10px;
      }

      &.subtheme {
        @include red-hat-400;
      }
    }
  }

  .title {
    h1 {
      @include caladea-700;
      font-size: 27px;
    }
  }

  .subtitle {
    h3 {
      @include red-hat-500;
      font-size: 15px;
      line-height: 22.49px;
      letter-spacing: -0.2px;
    }
  }

  .social-btns {
    a {
      text-decoration: none;
    }
  }

  .date,
  .author {
    @include baskerville-italic;
    font-size: 12px;
  }

  .img-container .credits {
    p {
      @include baskerville-italic;
      font-size: 12px;
      margin: 0;
    }
    a {
      @include baskerville-italic;
      font-size: 12px;
      color: var(--ta-celeste) !important;
    }
  }

  .img-wrapper {
    width: 100vw;
    height: auto;
    position: relative;
    left: 50%;
    margin-left: -50vw;
  }

  .author {
    position: relative;
    left: 10px;

    .author-icon {
      margin-right: 5px;
    }

    p {
      margin-bottom: 0;
    }

    a {
      color: var(--ta-celeste) !important;
    }
  }

  .article-body {
    p {
      @include red-hat-400;
      font-size: 15px;
      line-height: 22.49px;
      letter-spacing: -0.2px;
      margin-bottom: 0;

      span {
        font-weight: 700;
      }
    }

    .bajada {
      p {
        @include red-hat-500;
        font-size: 13px;
        line-height: 17.2px;
        letter-spacing: 0.3px;
        color: var(--ta-gris-subtexto);
      }
    }

    .anuncio-seccion {
      .anuncio-container {
        p,
        a {
          @include red-hat-700;
          font-size: 15px;
          line-height: 19.85px;
          letter-spacing: -0.2px;
        }

        span {
          @include red-hat-900;
          color: var(--ta-celeste);
        }

        a {
          color: var(--ta-celeste) !important;
        }
      }
    }

    .subnote {
      border: 1px solid var(--ta-gris-subtexto);
      position: relative;
      .separator {
        position: absolute;
        top: -2px;
        margin-top: 0;
        background-color: var(--ta-negro-texto);
      }
      .title {
        h2 {
          @include red-hat-900;
          font-size: 17px;
          letter-spacing: 0.3px;
          line-height: 22.49px;
        }
      }
    }

    .event {
      border: 1px solid var(--ta-espectaculos);

      .title {
        h2 {
          @include red-hat-400;
          font-size: 17px;
          letter-spacing: 0.3px;
          line-height: 22.49px;

          &.bold {
            @include red-hat-900;
          }
        }
      }

      .content {
        p {
          a {
            text-decoration: underline;
            text-decoration-color: #ce0d54;
            color: #ce0d54 !important;
          }

          &.bold {
            @include red-hat-900;
          }

          &.red-font {
            color: #ce0d54;
          }
        }
      }
    }
  }
}

.audiovisual {
  .play-btn {
    img {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.ta-input-container {
  .header-container {
    .date {
      p {
        @include baskerville-italic;
        font-size: 12px;
        margin: 0;
      }
    }

    .title,
    .author-name {
      p {
        @include red-hat-700;
        color: var(--ta-celeste);
        font-size: 15px;
        line-height: 18px;
        margin: 0;
      }
    }

    .author-name {
      p {
        color: var(--ta-negro-texto);
      }
    }

    .description {
      p {
        @include red-hat-500;
        font-size: 17px;
        line-height: 22.49px;
        letter-spacing: -0.2px;

        span {
          @include red-hat-900;
          font-size: 17px;
          line-height: 22.49px;
          letter-spacing: 0.3px;
        }

        &.hashtag {
          color: var(--ta-celeste);
          @include red-hat-900;
          font-size: 17px;
          line-height: 22.49px;
          letter-spacing: 0.3px;
        }
      }
      a {
        &:hover {
          color: var(--ta-celeste) !important;
        }
      }
    }
  }

  .input-quantity {
    p {
      @include red-hat-400;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.2px;
      color: var(--ta-celeste);
    }
  }

  .input-box {
    .input-container {
      .input-wrapper {
        span {
          display: block;
          padding: 0 10px;
          padding-right: 40px;
          border-radius: 20px;
          border: 1.5px solid var(--ta-celeste);
          input {
            background: none;
            width: 100%;
            outline: none;
            border: none;
            box-sizing: border-box;
            height: 38px;

            &::placeholder {
              @include red-hat-400;
              color: var(--ta-celeste);
              font-size: 15px;
              letter-spacing: -0.2px;
            }
          }
        }
      }

      .input-icon {
        button {
          right: 0;
          bottom: 5px;
          max-width: 42px;
          border: none;
          background-color: transparent;
        }
      }
    }

    .send-btn {
      button {
        background-color: transparent;
        border: none;
      }
    }
  }

  .input-container {
    .input {
      .profile {
        height: min-content;
        .partner-icon {
          .icon {
            left: -10px;
            bottom: -25%;
          }
        }
      }

      .content {
        .user-info {
          p {
            @include red-hat-700;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: -0.2px;
            margin: 0;

            span {
              &.yellow-tag {
                @include red-hat-400;
                color: var(--ta-socios);
              }

              &.blue-tag {
                @include red-hat-900;
                color: var(--ta-celeste);
              }
            }
          }
        }

        .questioner-info {
          p {
            span {
              @include red-hat-700;
              color: var(--ta-celeste);
            }
          }
        }

        .date {
          p {
            @include baskerville-italic;
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 10px;
          }
        }

        .input-body {
          p {
            @include red-hat-400;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: -0.2px;
          }
        }
      }
    }
  }

  .ver-mas {
    button {
      @include button(var(--ta-celeste), transparent);

      span {
        img {
          transform: rotate(90deg);
        }
      }
    }
  }
}

.btns-container {
  .personalizar {
    button {
      @include button(
        var(--ta-celeste),
        transparent,
        2px solid var(--ta-celeste)
      );
    }
  }

  .ver-mas {
    button {
      @include button(var(--ta-celeste), transparent);

      span {
        img {
          transform: rotate(90deg);
        }
      }
    }
  }

  .pagination {
    button {
      @include red-hat-400;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid var(--ta-gris-subtexto);
      color: var(--ta-gris-subtexto);
      margin: 3px;
      width: 31px;
      height: 31px;

      &.active {
        @include red-hat-900;
        background-color: var(--ta-negro-texto);
        border: 1px solid var(--ta-negro-texto);
        color: var(--ta-celeste-fondos);
      }
    }
  }
}

.tiempo-blue-bg {
  .btns-container {
    .ver-mas {
      button {
        color: var(--white) !important;
      }
    }
  }
}

.sub-blocks {
  .articles-and-btns {
    .articles-container {
      overflow: scroll;
      overflow-y: hidden;

      &.fullwidth-row {
        overflow: hidden;
        .article,
        .articles-block {
          max-width: 100%;

          .img-container {
            img {
              min-width: 100%;
              height: auto;
            }
          }
        }
      }
      .article,
      .articles-block {
        max-width: 258px;
        &.horizontal {
          max-width: 100%;
          .date {
            @include baskerville-italic;
            font-size: 12px;
            line-height: 14.88px;
            color: var(--ta-gris-subtexto);
            text-align: right;
            margin-top: 5px;
          }
          .img-container {
            img {
              max-width: 115px;
            }
          }

          .content {
            margin-left: 10px;

            .description {
              p {
                margin: 0;
              }
            }
            .author {
              max-width: 100%;
            }
          }
        }

        .img-container {
          .article-icons {
            top: 50%;
            transform: translateY(-50%);
            img {
              max-width: 40px;
              height: auto;
              margin: 5px 0;
            }
          }
        }

        .content {
          .category-title {
            h4 {
              @include red-hat-900;
              font-size: 12px;
            }
          }
          .description {
            p {
              @include red-hat-400;
              line-height: 19.85px;
              letter-spacing: -0.2px;
              font-size: 15px;
            }
          }

          .duration {
            @include red-hat-700;
            color: var(--white);
            line-height: 19.85px;
            letter-spacing: -0.2px;
            font-size: 15px;
          }

          .date {
            @include baskerville-italic;
            font-size: 12px;
            line-height: 15px;
            color: var(--white);
          }

          .article-info-container {
            display: flex;

            .author {
              @include baskerville-italic;
              color: var(--ta-gris-subtexto);
              font-size: 12px;
              line-height: 14.88px;
              max-width: 50%;
            }

            .format-icon {
              margin-right: 10px;
            }

            .author,
            .format {
              max-width: 90%;
            }

            .format {
              p {
                margin: 0;
                @include red-hat-700;
              }
            }
          }
        }
      }
    }
  }
}

.tiempo-blue-bg {
  .sub-blocks {
    .articles-and-btns {
      .articles-container {
        .article {
          .content {
            .article-info-container {
              .author,
              .format {
                color: var(--white) !important;
              }
            }
          }
        }
      }
    }
  }
}

.quote {
  .quote-body {
    p {
      @include baskerville-italic;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.2px;
    }
  }

  .author-quoted {
    p {
      color: var(--ta-gris-subtexto);
      @include baskerville-italic;
      font-size: 12px;
      line-height: 15px;
      text-align: right;
    }
  }
}

.article-tags {
  margin: 20px auto;

  .tags-container {
    .tag {
      .content {
        width: max-content;
        border: 1px solid var(--ta-celeste);
        border-right: 1px solid transparent;

        a {
          text-decoration-color: var(--ta-celeste);
        }

        p {
          @include red-hat-700;
          font-size: 13px;
          color: var(--ta-celeste);
        }
      }

      .triangle {
        content: "";
        background-color: transparent;
        bottom: 0;
        width: 20.6px;
        height: 20.6px;
        border-right: 1px solid var(--ta-celeste);
        border-top: 1px solid var(--ta-celeste);
        transform: rotate(45deg) translate(-4.5px, 10.5px);
      }
    }
  }
}

.mas-leidas-container {
  background-color: var(--ta-celeste-fondos);
}

.mira-tambien,
.mas-leidas {
  .description {
    p {
      @include red-hat-400;
      font-size: 15px;
      letter-spacing: -0.2px;
      line-height: 16.5px;
    }
  }
}

.newsletter {
  p {
    @include red-hat-400;
    font-size: 15px;
    letter-spacing: -0.2px;
    line-height: 16.5px;

    span {
      color: var(--ta-celeste);
    }
  }

  .newsletter-form {
    input {
      border-radius: 20px;
      border: 1.5px solid var(--ta-celeste);
      box-sizing: border-box;
      height: 38px;
      width: 90% !important;
      left: 50%;
      max-width: 90%;
      padding: 0 10px;
      position: relative;
      transform: translateX(-50%);
      padding-right: 55px;

      &::placeholder {
        @include red-hat-400;
        color: var(--ta-celeste);
        font-size: 15px;
        letter-spacing: -0.2px;
      }
    }

    .input-icon {
      position: relative;
      bottom: 6px;
      right: 35px;
      max-width: 30px;
    }

    button {
      @include button(var(--white), var(--ta-celeste));
      width: 50% !important;
      position: relative;
      transform: translateX(-50%);
    }
  }

  .newsletter-options {
    button {
      @include button(
        var(--ta-celeste),
        var(--white),
        2px solid var(--ta-celeste)
      );
      width: 60% !important;
      position: relative;
      transform: translateX(-50%);
    }
  }
}

.seamos-socios {
  .socios-block {
    border: 1px solid var(--ta-celeste);
    box-sizing: border-box;
    .title {
      h2 {
        @include baskerville-italic;
        font-size: 20px;
        line-height: 24.8px;
        letter-spacing: -0.2px;
      }
    }

    .subtitle {
      p {
        @include red-hat-400;
        font-size: 15px;
        line-height: 22.49px;
        letter-spacing: -0.2px;
        margin-bottom: 0;

        span {
          font-weight: 700;
        }
      }

      &.ta-celeste-color {
        p {
          color: var(--ta-celeste);
        }
      }
    }

    /* .img-container {
      max-width: 70%;
      margin: 0 auto;
    } */

    .asociarme-btn {
      button {
        @include button(var(--white), var(--ta-socios));
      }
    }

    .optional-content {
      p {
        @include red-hat-400;
        font-size: 15px;
        line-height: 19.85px;
        letter-spacing: -0.2px;
      }
    }
  }
}

.author-profile,
.tag-profile {
  .author-block,
  .tag-block {
    border: 1px solid var(--ta-celeste);
    .profile {
      .partner-icon {
        .icon {
          bottom: -12px;
          left: -12px;
        }
      }
    }

    .author-name,
    .tag-name {
      p {
        @include baskerville-italic;
        font-size: 12px;
        line-height: 14.88px;

        span {
          color: var(--ta-celeste);
        }
      }
    }

    .quote {
      .author-quoted,
      .tag-quoted {
        p {
          @include caladea-700;
          font-size: 27px;
          line-height: 31.05px;
          letter-spacing: -1px;
          color: var(--ta-negro-texto);
          text-align: left;
        }
      }

      .quote-body {
        color: var(--ta-celeste);
      }
    }

    .author-description,
    .tag-description {
      p {
        @include red-hat-400;
        font-size: 15px;
        line-height: 19.85px;
        letter-spacing: -0.2px;
      }
      .author-summary,
      .tag-summary {
        p {
          margin: 0;

          span {
            @include red-hat-700;
          }
        }
      }
    }
  }

  .tag-block {
    border: none;
  }
}

@import "responsive";
