@import "variables";
@import "mixins";

body {
  color: var(--ta-negro-texto);
  overflow-x: hidden !important;
  @include antialiasing-fix;
}

a {
  color: var(--ta-negro-texto) !important;
}

.header {
  box-shadow: 0px 2px 2px #eef0f1;

  .desktop-ribbon {
    background-color: var(--ta-negro-texto);

    p {
      font-size: 16px;
    }

    .beneficios-socios {
      background-color: var(--ta-socios);

      p {
        @include red-hat-400;
        color: var(--ta-negro-texto);
        margin: 0;
      }
    }

    .temas-importantes {
      p {
        @include red-hat-400;
        margin: 0;
      }

      .title {
        p {
          @include red-hat-900;
        }
      }
    }

    .redes {
      > div {
        margin-right: 10px;
        display: flex;
        align-items: center;

        a,
        div {
          max-width: 21px;
          height: 21px;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
        }
      }
    }

    p {
      color: white;
    }
  }
  .header-content {
    .tiempo-logo {
      max-width: 60%;
      align-self: center;
    }

    .weather {
      p {
        @include baskerville-italic;
        font-size: 16px;
        margin: 0;
      }

      .ta-gris-color {
        span {
          color: var(--ta-gris-subtexto);
        }
      }
    }

    .asociate-banner {
      max-width: 35%;
    }

    .asociate-banner {
      .asociate-banner-content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .separator {
          margin-top: 0;
          background-color: white;
          width: 50px;
        }

        p {
          @include red-hat-900;
          color: white;
          font-size: 15px;
          line-height: 15.85px;
        }
      }
    }
  }
}

.hamburger-menu {
  z-index: 20;
  button {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    outline: none;

    span {
      background-color: var(--ta-celeste);
      width: 23px;
      height: 2px;
      margin-top: 7px;
      transition: all 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    &[aria-expanded="true"] {
      span {
        &:first-of-type {
          transform: rotate(45deg) translate(6px, 6px);
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:last-of-type {
          transform: rotate(-45deg) translate(7px, -6.5px);
        }
      }
    }

    &[aria-expanded="false"] {
      span {
        transform: none;
        opacity: 1;
      }
    }
  }
}

.search-icon {
  outline: none;

  &:focus {
    box-shadow: none;
  }
}

.search-bar-container {
  background-color: var(--ta-celeste-fondos);
  border: 1px solid var(--ta-celeste);

  .close {
    div {
      max-width: 23px;
      button {
        background-color: transparent;
        padding: 0;
        border: none;
      }
    }
  }

  .input-container {
    .input-wrapper {
      input {
        padding: 0 10px;
        background: white;
        width: 100%;
        border: 1.5px solid var(--ta-celeste);
        outline: none;
        border-radius: 20px;

        height: 38px;

        &::placeholder {
          @include red-hat-400;
          color: var(--ta-celeste);
          font-size: 15px;
          letter-spacing: -0.2px;
        }
      }
    }
  }

  .search {
    button {
      @include button(white, var(--ta-celeste));
      padding-left: 40px;
      padding-right: 40px;
      outline: none;

      &:focus {
        box-shadow: none;
      }
    }
  }
}

.menu {
  position: absolute;
  top: 0;
  background-color: white;
  z-index: 20;
  width: 100%;
  padding-bottom: 30px;
  box-shadow: 4px 4px 10px rgba(132, 152, 153, 0.4);
  left: 50%;
  transform: translateX(-50%);

  .menu-header {
    padding: 14px 0;
    > .hamburger-menu {
      button {
        span {
          background-color: transparent;
        }
      }
    }

    .tiempo-menu-logo,
    .search-icon,
    .profile-icon {
      max-width: 34px;
    }

    .search-icon {
      background-color: transparent;
      border: none;
      padding: 0;
    }
  }
  .menu-section-wrapper {
    max-width: 75%;
    margin: 0 auto;
    .menu-section {
      padding-top: 15px;

      .menu-item {
        margin-bottom: 10px;

        &.seamos-socios {
          h5 {
            color: var(--ta-socios);
          }
        }

        &.cultura {
          h6 {
            color: var(--ta-cultura);
          }
        }

        &.espectaculos {
          h6 {
            color: var(--ta-espectaculos);
          }
        }

        &.deportes {
          h6 {
            color: var(--ta-deportes);
          }
        }

        &.ver-mas {
          h6 {
            color: var(--ta-gris-subtexto);
          }
        }
      }
    }

    .card {
      border: none;

      .card-header {
        background-color: white;
        border: none;
        padding: 0;

        .collapsed {
          img {
            transform: rotate(180deg);
          }
        }
      }

      button {
        text-decoration: none;
        outline: none;
        padding: 0.75rem 1.25rem;

        &:focus {
          box-shadow: none;
        }
      }
    }
    .separator {
      background-color: var(--ta-gris-subtexto);
      margin: 0;
      display: block;
    }

    p {
      @include red-hat-500;
      font-size: 15px;
      margin-bottom: 0;
    }

    h5 {
      @include red-hat-900;
      color: var(--ta-gris-subtexto);
      font-size: 15px;
      margin-bottom: 0;
      margin-left: 5px;
    }

    .destacados {
      h6,
      p {
        @include red-hat-700;
        font-size: 15px;
        margin-bottom: 0;
        margin-left: 10px;
      }
    }
  }

  .ta-redes {
    .redes-sociales {
      div {
        margin-right: 10px;
      }
    }
  }
}

.search-icon {
  &.btn-link {
    color: var(--ta-negro-texto) !important;
  }
}

.banner-covid {
  background-color: var(--ta-gris-imagen);

  .separator {
    margin: 0;
    background-color: var(--ta-gris-subtexto);
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  .title {
    p {
      @include red-hat-900;
    }
  }

  .content {
    p {
      @include red-hat-400;
    }
  }
}

.separator {
  background-color: var(--ta-celeste);
  display: inline-block;
  height: 2px;
  margin-top: 25px;
  width: 73px;
}

.light-blue-bg {
  background-color: var(--ta-celeste-fondos);
}

.tiempo-blue-bg {
  background-color: var(--ta-celeste);
}

.ta-context {
  &.dark-blue-bg {
    background-color: var(--ta-celeste);

    .article-preview {
      .content {
        .article-info-container {
          .format,
          .author {
            p {
              color: white;
            }
          }
        }
      }
    }

    .btns-container {
      .ver-mas {
        button {
          color: white;
        }
      }
    }
  }
}

.container-with-header {
  .section-title {
    h4 {
      @include red-hat-900;
      font-size: 12px;
      margin: 0;
      color: #000;

      span {
        @include red-hat-400;
      }
    }
  }
}

.category-title {
  h4 {
    color: var(--ta-celeste);
  }
}

.article-border {
  border-top: 2px solid var(--ta-celeste);
  width: 70px;
  margin: 5px 0;
}

.articulo-simple {
  .categories {
    h4 {
      font-size: 13px;
      line-height: 15.88px;

      &.theme {
        @include red-hat-900;
        margin-right: 10px;
      }

      &.subtheme {
        @include red-hat-400;
      }
    }
  }

  .title {
    h1 {
      @include caladea-700;
      font-size: 27px;
    }
  }

  .subtitle {
    h3 {
      @include red-hat-500;
      font-size: 15px;
      line-height: 22.49px;
      letter-spacing: -0.2px;
    }
  }

  .social-btns {
    a {
      text-decoration: none;
    }
  }

  .date,
  .author {
    @include baskerville-italic;
    font-size: 12px;
  }

  .img-container .credits {
    p {
      @include baskerville-italic;
      font-size: 12px;
      margin: 0;
    }
    a {
      @include baskerville-italic;
      font-size: 12px;
      color: var(--ta-celeste) !important;
    }
  }

  .img-wrapper {
    width: 100vw;
    height: auto;
    position: relative;
    left: 50%;
    margin-left: -50vw;
  }

  .author {
    position: relative;
    left: 10px;

    .author-icon {
      margin-right: 5px;
    }

    p {
      margin-bottom: 0;
    }

    a {
      color: var(--ta-celeste) !important;
    }
  }

  .article-body {
    p {
      @include red-hat-400;
      font-size: 15px;
      line-height: 22.49px;
      letter-spacing: -0.2px;
      margin-bottom: 0;

      span {
        font-weight: 700;
      }
    }

    .bajada {
      p {
        @include red-hat-500;
        font-size: 13px;
        line-height: 17.2px;
        letter-spacing: 0.3px;
        color: var(--ta-gris-subtexto);
      }
    }

    .anuncio-seccion {
      .anuncio-container {
        p,
        a {
          @include red-hat-700;
          font-size: 15px;
          line-height: 19.85px;
          letter-spacing: -0.2px;
        }

        span {
          @include red-hat-900;
          color: var(--ta-celeste);
        }

        a {
          color: var(--ta-celeste) !important;
        }
      }
    }

    .subnote {
      border: 1px solid var(--ta-gris-subtexto);
      position: relative;
      .separator {
        position: absolute;
        top: -2px;
        margin-top: 0;
        background-color: var(--ta-negro-texto);
      }
      .title {
        h2 {
          @include red-hat-900;
          font-size: 17px;
          letter-spacing: 0.3px;
          line-height: 22.49px;
        }
      }
    }

    .event {
      border: 1px solid var(--ta-espectaculos);

      .title {
        h2 {
          @include red-hat-400;
          font-size: 17px;
          letter-spacing: 0.3px;
          line-height: 22.49px;

          &.bold {
            @include red-hat-900;
          }
        }
      }

      .content {
        p {
          a {
            text-decoration: underline;
            text-decoration-color: #ce0d54;
            color: #ce0d54 !important;
          }

          &.bold {
            @include red-hat-900;
          }

          &.red-font {
            color: #ce0d54;
          }
        }
      }
    }
  }
}

.play-btn {
  img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.header-container {
  .date {
    p {
      @include baskerville-italic;
      font-size: 12px;
      margin: 0;
    }
  }

  .title,
  .author-name {
    p {
      @include red-hat-700;
      color: var(--ta-celeste);
      font-size: 15px;
      line-height: 18px;
      margin: 0;
    }
  }

  .author-name {
    p {
      color: var(--ta-negro-texto);
    }
  }

  .description {
    p {
      @include red-hat-500;
      font-size: 17px;
      line-height: 22.49px;
      letter-spacing: -0.2px;

      span {
        @include red-hat-900;
        font-size: 17px;
        line-height: 22.49px;
        letter-spacing: 0.3px;
      }

      &.hashtag {
        color: var(--ta-celeste);
        @include red-hat-900;
        font-size: 17px;
        line-height: 22.49px;
        letter-spacing: 0.3px;
      }
    }
    a {
      &:hover {
        color: var(--ta-celeste) !important;
      }
    }
  }
}

.input-quantity {
  p {
    @include red-hat-400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.2px;
    color: var(--ta-celeste);
  }
}

.input-box {
  .input-container {
    .input-wrapper {
      span {
        display: block;
        padding: 0 10px;
        padding-right: 40px;
        border-radius: 20px;
        border: 1.5px solid var(--ta-celeste);
        input {
          background: none;
          width: 100%;
          outline: none;
          border: none;
          box-sizing: border-box;
          height: 38px;

          &::placeholder {
            @include red-hat-400;
            color: var(--ta-celeste);
            font-size: 15px;
            letter-spacing: -0.2px;
          }
        }
      }
    }

    .input-icon {
      button {
        right: 0;
        bottom: 5px;
        max-width: 42px;
        border: none;
        background-color: transparent;
      }
    }
  }

  .send-btn {
    button {
      background-color: transparent;
      border: none;
    }
  }
}

.input-container {
  .input {
    .profile {
      height: min-content;
      .partner-icon {
        .icon {
          left: -10px;
          bottom: -25%;
        }
      }
    }

    .content {
      .user-info {
        p {
          @include red-hat-700;
          font-size: 15px;
          line-height: 20px;
          letter-spacing: -0.2px;
          margin: 0;

          span {
            &.yellow-tag {
              @include red-hat-400;
              color: var(--ta-socios);
            }

            &.blue-tag {
              @include red-hat-900;
              color: var(--ta-celeste);
            }
          }
        }
      }

      .questioner-info {
        p {
          span {
            @include red-hat-700;
            color: var(--ta-celeste);
          }
        }
      }

      .date {
        p {
          @include baskerville-italic;
          font-size: 12px;
          line-height: 15px;
          margin-bottom: 10px;
        }
      }

      .input-body {
        p {
          @include red-hat-400;
          font-size: 15px;
          line-height: 20px;
          letter-spacing: -0.2px;
        }
      }
    }
  }
}

.ver-mas {
  button {
    @include button(var(--ta-celeste), transparent);

    span {
      img {
        transform: rotate(90deg);
      }
    }
  }
}

.btns-container {
  .personalizar {
    button {
      @include button(
        var(--ta-celeste),
        transparent,
        2px solid var(--ta-celeste)
      );
    }
  }

  .ver-mas {
    button {
      @include button(var(--ta-celeste), transparent);

      span {
        img {
          transform: rotate(90deg);
        }
      }
    }
  }

  .pagination {
    button {
      @include red-hat-400;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid var(--ta-gris-subtexto);
      color: var(--ta-gris-subtexto);
      margin: 3px;
      width: 31px;
      height: 31px;

      &.active {
        @include red-hat-900;
        background-color: var(--ta-negro-texto);
        border: 1px solid var(--ta-negro-texto);
        color: var(--ta-celeste-fondos);
      }
    }
  }
}

.tiempo-blue-bg {
  .btns-container {
    .ver-mas {
      button {
        color: var(--white) !important;
      }
    }
  }
}

.article-preview {
  max-width: 258px;
  &.horizontal {
    max-width: 100%;
    .date {
      @include baskerville-italic;
      font-size: 12px;
      line-height: 14.88px;
      color: var(--ta-gris-subtexto);
      text-align: right;
      margin-top: 5px;
    }
    .img-container {
      img {
        max-width: 115px;
      }
    }

    .content {
      margin-left: 10px;

      .description {
        p {
          margin: 0;
        }
      }
      .author {
        max-width: 100%;
      }
    }
  }

  .img-container {
    img {
      min-width: 100%;
      height: auto;
    }

    .article-icons {
      top: 50%;
      transform: translateY(-50%);
      img {
        max-width: 40px;
        height: auto;
        margin: 5px 0;
      }
    }
  }

  .content {
    .category-title {
      h4 {
        @include red-hat-900;
        font-size: 12px;
      }
    }
    .description {
      p {
        @include red-hat-400;
        line-height: 19.85px;
        letter-spacing: -0.2px;
        font-size: 15px;
      }
    }

    .duration {
      @include red-hat-700;
      color: var(--white);
      line-height: 19.85px;
      letter-spacing: -0.2px;
      font-size: 15px;
    }

    .date {
      @include baskerville-italic;
      font-size: 12px;
      line-height: 15px;
      color: var(--white);
    }

    .article-info-container {
      display: flex;

      .author {
        max-width: 50%;
        p {
          @include baskerville-italic;
          color: var(--ta-gris-subtexto);
          font-size: 12px;
          line-height: 14.88px;
          margin-bottom: 0;
        }
      }

      .format-icon {
        margin-right: 10px;
      }

      .author,
      .format {
        max-width: 90%;
      }

      .format {
        p {
          margin: 0;
          @include red-hat-700;
        }
      }
    }
  }
}

.sub-blocks {
  .articles-block {
    overflow: scroll;
    overflow-y: hidden;

    &.fullwidth-row {
      overflow: hidden;
      .article,
      .article-preview {
        max-width: 100%;

        .img-container {
          img {
            min-width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

.tiempo-blue-bg {
  .sub-blocks {
    .articles-block {
      .article {
        .content {
          .article-info-container {
            .author,
            .format {
              color: var(--white) !important;
            }
          }
        }
      }
    }
  }
}

.quote {
  .quote-body {
    p {
      @include baskerville-italic;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.2px;
    }
  }

  .author-quoted {
    p {
      color: var(--ta-gris-subtexto);
      @include baskerville-italic;
      font-size: 12px;
      line-height: 15px;
      text-align: right;
    }
  }
}

.article-tags {
  .tag {
    .content {
      width: max-content;
      border: 1px solid var(--ta-celeste);
      border-right: 1px solid transparent;

      a {
        text-decoration-color: var(--ta-celeste);
      }

      p {
        @include red-hat-700;
        font-size: 13px;
        color: var(--ta-celeste);
      }
    }

    .triangle {
      content: "";
      background-color: transparent;
      bottom: 0;
      width: 20.6px;
      height: 20.6px;
      border-right: 1px solid var(--ta-celeste);
      border-top: 1px solid var(--ta-celeste);
      transform: rotate(45deg) translate(-4.5px, 10.5px);
    }
  }
}

.mas-leidas-container {
  background-color: var(--ta-celeste-fondos);
}

.mira-tambien,
.mas-leidas {
  .description {
    p {
      @include red-hat-400;
      font-size: 15px;
      letter-spacing: -0.2px;
      line-height: 16.5px;
    }
  }
}

.newsletter {
  p {
    @include red-hat-400;
    font-size: 15px;
    letter-spacing: -0.2px;
    line-height: 16.5px;

    span {
      color: var(--ta-celeste);
    }
  }

  .newsletter-form {
    input {
      border-radius: 20px;
      border: 1.5px solid var(--ta-celeste);
      box-sizing: border-box;
      height: 38px;
      width: 90% !important;
      left: 50%;
      max-width: 90%;
      padding: 0 10px;
      position: relative;
      transform: translateX(-50%);
      padding-right: 55px;

      &::placeholder {
        @include red-hat-400;
        color: var(--ta-celeste);
        font-size: 15px;
        letter-spacing: -0.2px;
      }
    }

    .input-icon {
      position: relative;
      bottom: 6px;
      right: 35px;
      max-width: 30px;
    }

    button {
      @include button(var(--white), var(--ta-celeste));
      width: 50% !important;
      position: relative;
      transform: translateX(-50%);
    }
  }

  .newsletter-options {
    button {
      @include button(
        var(--ta-celeste),
        var(--white),
        2px solid var(--ta-celeste)
      );
      width: 60% !important;
      position: relative;
      transform: translateX(-50%);
    }
  }
}

.socios-block {
  border: 1px solid var(--ta-celeste);
  box-sizing: border-box;
  .title {
    h2 {
      @include baskerville-italic;
      font-size: 20px;
      line-height: 24.8px;
      letter-spacing: -0.2px;
    }
  }

  .subtitle {
    p {
      @include red-hat-400;
      font-size: 15px;
      line-height: 22.49px;
      letter-spacing: -0.2px;
      margin-bottom: 0;

      span {
        font-weight: 700;
      }
    }

    &.ta-celeste-color {
      p {
        color: var(--ta-celeste);
      }
    }
  }

  /* .img-container {
      max-width: 70%;
      margin: 0 auto;
    } */

  .asociarme-btn {
    button {
      @include button(var(--white), var(--ta-socios));
    }
  }

  .optional-content {
    p {
      @include red-hat-400;
      font-size: 15px;
      line-height: 19.85px;
      letter-spacing: -0.2px;
    }
  }
}

.author-block,
.tag-block {
  border: 1px solid var(--ta-celeste);
  .profile {
    .partner-icon {
      .icon {
        bottom: -12px;
        left: -12px;
      }
    }
  }

  .author-name,
  .tag-name {
    p {
      @include baskerville-italic;
      font-size: 12px;
      line-height: 14.88px;

      span {
        color: var(--ta-celeste);
      }
    }
  }

  .quote {
    .author-quoted,
    .tag-quoted {
      p {
        @include caladea-700;
        font-size: 27px;
        line-height: 31.05px;
        letter-spacing: -1px;
        color: var(--ta-negro-texto);
        text-align: left;
      }
    }

    .quote-body {
      color: var(--ta-celeste);
    }
  }

  .author-description,
  .tag-description {
    p {
      @include red-hat-400;
      font-size: 15px;
      line-height: 19.85px;
      letter-spacing: -0.2px;
    }
    .author-summary,
    .tag-summary {
      p {
        margin: 0;

        span {
          @include red-hat-700;
        }
      }
    }
  }
}

.tag-block {
  border: none;
}

.footer-content {
  .tiempo-logo {
    max-width: 75%;
  }

  p {
    @include red-hat-400;
    font-size: 15px;
    font-style: normal;

    span {
      @include red-hat-700;
    }
  }

  .description p {
    @include red-hat-400;
    font-style: italic;
  }

  .address p,
  .derechos {
    @include red-hat-500;
    font-style: italic;
  }

  .ta-celeste-color {
    color: var(--ta-celeste);
  }
}

@import "responsive";
