@import "partes/main.css";
@import "partes/articles-block.css";
@import "partes/author-tag-blocks.css";
@import "partes/input-blocks.css";
@import "partes/newsletter.css";
@import "partes/simple-especial.css";
@import "partes/socios-block.css";
@import "partes/fotogaleria.css";
@import "partes/podcasts-block.css";
@import "partes/historieta.css";
@import "partes/asociate-apoyanos.css";
@import "partes/user-tabs.css";
@import "partes/micrositio.css";
@import "partes/beneficios.css";
@import "partes/participa.css";
