@import "../variables";
@import "../mixins";

.carousel-caption {
  position: unset;
  color: var(--ta-negro-texto);
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
  position: unset;
}

.carousel-control-prev {
  transform: rotate(180deg);
}

.carousel-indicators {
  li {
    background-color: var(--ta-celeste-fondos);
    width: 9px;
    height: 9px;
    border-radius: 50%;

    &.active {
      background-color: var(--ta-celeste);
    }
  }
}

.fotogaleria,
.fotogaleria2 {
  .slide-title {
    @include caladea-700;
    font-size: 20px;
    letter-spacing: -0.5px;
    margin: 0;
  }

  .slide-content {
    @include red-hat-400;
    font-size: 15px;
    letter-spacing: -0.2px;
  }

  .slide-author {
    @include baskerville-italic;
    font-size: 12px;
    color: var(--ta-gris-subtexto);
  }
}

.fotogaleria2 {
  .carousel-indicators {
    li {
      background-color: transparent;
      width: 31px;
      height: 31px;
      border-radius: 50%;
      text-indent: 0%;
      border: 1px solid var(--ta-gris-subtexto);
      p {
        color: var(--ta-gris-subtexto);
        margin: 0;
      }

      &.active {
        background-color: var(--ta-negro-texto);
        border: 1px solid var(--ta-negro-texto);

        p {
          color: white;
        }
      }
    }
  }
}
