:root {
    --ta-celeste: #16a1dc;
    --ta-gris-imagen: #ebebeb;
    --ta-celeste-fondos: #ebf7fe;
    --ta-negro-texto: #252b2d;
    --ta-gris-subtexto: #849899;
    --ta-socios: #ffbb0f;
    --ta-socios-fondos: #ffe7a9;
    --ta-espectaculos: #ce0d54;
    --ta-cultura: #48b1a7;
    --ta-deportes: #ee813c;
  }

  .newsletter p {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.2px;
    line-height: 16.5px;
  }
  .newsletter p span {
    color: var(--ta-celeste);
  }
  .newsletter .newsletter-form input {
    border-radius: 20px;
    border: 1.5px solid var(--ta-celeste);
    box-sizing: border-box;
    height: 38px;
    width: 90% !important;
    left: 50%;
    max-width: 90%;
    padding: 0 10px;
    position: relative;
    transform: translateX(-50%);
    padding-right: 55px;
  }
  .newsletter .newsletter-form input::placeholder {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 400;
    color: var(--ta-celeste);
    font-size: 15px;
    letter-spacing: -0.2px;
  }
  .newsletter .newsletter-form .input-icon {
    position: relative;
    bottom: 6px;
    right: 35px;
    max-width: 30px;
  }
  .newsletter .newsletter-form .input-icon.send {
    display: none;
  }
  .newsletter .newsletter-form button {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 900;
    background-color: var(--ta-celeste);
    border: none;
    color: var(--white);
    font-size: 15px;
    left: 50%;
    line-height: 20px;
    padding: 4px 10px;
    width: 50% !important;
    position: relative;
    transform: translateX(-50%);
  }
  .newsletter .newsletter-options button {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 900;
    background-color: var(--white);
    border: 2px solid var(--ta-celeste);
    color: var(--ta-celeste);
    font-size: 15px;
    left: 50%;
    line-height: 20px;
    padding: 4px 10px;
    width: 60% !important;
    position: relative;
    transform: translateX(-50%);
  }
  
  @media (min-width: 500px) and (max-width: 992px) {
    .newsletter {
      max-width: 60%;
      margin: 0 auto;
    }
  }
  @media (min-width: 1200px) {
    .newsletter .section-title h4 {
      font-size: 19px;
      line-height: 25.14px;
      letter-spacing: -0.1px;
    }
    .newsletter p {
      font-size: 19px;
      line-height: 25.14px;
      letter-spacing: -0.1px;
    }
    .newsletter .newsletter-form input {
      height: 43px;
      padding-right: 60px;
      background-color: var(--ta-celeste-fondos);
    }
    .newsletter .newsletter-form input::placeholder {
      font-size: 19px;
      letter-spacing: -0.1px;
    }
    .newsletter .newsletter-form button {
      font-size: 19px;
      line-height: 25.14px;
      letter-spacing: -0.1px;
      padding: 8px 35px;
      width: auto !important;
      max-width: 60%;
    }
    .newsletter .newsletter-form .input-icon {
      bottom: 66%;
      right: 30px;
    }
    .newsletter .newsletter-options button {
      font-size: 19px;
      line-height: 25.14px;
      letter-spacing: -0.1px;
      background-color: var(--ta-celeste-fondos);
    }
  }
  div#name-user {
    display: inline-block;
}
  /*# sourceMappingURL=newsletter.css.map */
  div#response-widget {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    display: none;
    font-family: "Libre Baskerville";
    text-transform: capitalize;
    font-size: 20px;
}
.ta-context.newsletter-especial .envelope-icon, .ta-context .newsletter-personalizar .envelope-icon {
  display: block !important;
}
.envelope-icon.text-left {
  display: block !important;
}