.ta-articles-images-controls {
    margin-bottom: 2rem;
}

.ta-articles-images-controls:not(.empty) .when-empty {
    display: none;
}

.ta-articles-images-controls.empty .when-not-empty {
    display: none;
}

.image-box {
    width: 5rem;
    height: 5rem;
    position: relative;
    border: dashed 2px;
}

.image-box .bkg {
    width: 100%;
    height: 100%;
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.image-selector .title {
    margin-bottom: 0;
}

.image-selector .description {
    font-size: 11px;
}

.image-box .content .controls {
    position: absolute;
    top: 0;
    right: 0;
}

.image-box .content .controls .remove-btn {
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 1rem;
    border: solid 1px black;
    cursor: pointer;
}

.ta-articles-images-controls .content .text {
    text-shadow: 0px 0px 2px black;
    color: #fff;
    background-color: #0000005c;
    max-width: min-content;
    padding: 0.2rem;
}
