:root {
  --ta-celeste: #16a1dc;
  --ta-gris-imagen: #ebebeb;
  --ta-celeste-fondos: #ebf7fe;
  --ta-negro-texto: #252b2d;
  --ta-gris-subtexto: #849899;
  --ta-socios: #ffbb0f;
  --ta-socios-fondos: #ffe7a9;
  --ta-espectaculos: #ce0d54;
  --ta-cultura: #48b1a7;
  --ta-deportes: #ee813c;
}

.ta-author-block,
.ta-tag-block {
  border: 1px solid var(--ta-celeste);
}
.ta-author-block .profile .picture,
.ta-tag-block .profile .picture {
  width: 174px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.ta-author-block .profile .partner-icon .icon,
.ta-tag-block .profile .partner-icon .icon {
  bottom: -12px;
  left: -12px;
}
.ta-author-block .author-name p,
.ta-author-block .tag-name p,
.ta-tag-block .author-name p,
.ta-tag-block .tag-name p {
  font-family: "Libre Baskerville";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.88px;
}
.ta-author-block .author-name p span,
.ta-author-block .tag-name p span,
.ta-tag-block .author-name p span,
.ta-tag-block .tag-name p span {
  color: var(--ta-celeste);
}
.ta-author-block .quote .author-quoted p,
.ta-author-block .quote .tag-quoted p,
.ta-author-block .featured-quote .author-quoted p,
.ta-author-block .featured-quote .tag-quoted p,
.ta-tag-block .quote .author-quoted p,
.ta-tag-block .quote .tag-quoted p,
.ta-tag-block .featured-quote .author-quoted p,
.ta-tag-block .featured-quote .tag-quoted p {
  font-family: "Caladea";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 31.05px;
  letter-spacing: -1px;
  color: var(--ta-negro-texto);
  text-align: left;
}
.ta-author-block .quote .quote-body,
.ta-author-block .featured-quote .quote-body,
.ta-tag-block .quote .quote-body,
.ta-tag-block .featured-quote .quote-body {
  color: var(--ta-celeste);
}
.ta-author-block .author-description p,
.ta-author-block .tag-description p,
.ta-tag-block .author-description p,
.ta-tag-block .tag-description p {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19.85px;
  letter-spacing: -0.2px;
}
.ta-author-block .author-description .author-summary p,
.ta-author-block .author-description .tag-summary p,
.ta-author-block .tag-description .author-summary p,
.ta-author-block .tag-description .tag-summary p,
.ta-tag-block .author-description .author-summary p,
.ta-tag-block .author-description .tag-summary p,
.ta-tag-block .tag-description .author-summary p,
.ta-tag-block .tag-description .tag-summary p {
  margin: 0;
}
.ta-author-block .author-description .author-summary p span,
.ta-author-block .author-description .tag-summary p span,
.ta-author-block .tag-description .author-summary p span,
.ta-author-block .tag-description .tag-summary p span,
.ta-tag-block .author-description .author-summary p span,
.ta-tag-block .author-description .tag-summary p span,
.ta-tag-block .tag-description .author-summary p span,
.ta-tag-block .tag-description .tag-summary p span {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
}

.ta-tag-block {
  border: none;
}

@media (min-width: 992px) {
  .ta-author-block,
.ta-tag-block {
    max-width: 85%;
    margin: 10px auto;
  }
  .ta-author-block .author-name p,
.ta-tag-block .author-name p {
    font-size: 16px;
    line-height: 19.84px;
  }
  .ta-author-block .author-content,
.ta-author-block .tag-content,
.ta-tag-block .author-content,
.ta-tag-block .tag-content {
    max-width: 70%;
  }
  .ta-author-block .author-content .quote .author-quoted p,
.ta-author-block .author-content .quote .tag-quoted p,
.ta-author-block .author-content .featured-quote .author-quoted p,
.ta-author-block .author-content .featured-quote .tag-quoted p,
.ta-author-block .tag-content .quote .author-quoted p,
.ta-author-block .tag-content .quote .tag-quoted p,
.ta-author-block .tag-content .featured-quote .author-quoted p,
.ta-author-block .tag-content .featured-quote .tag-quoted p,
.ta-tag-block .author-content .quote .author-quoted p,
.ta-tag-block .author-content .quote .tag-quoted p,
.ta-tag-block .author-content .featured-quote .author-quoted p,
.ta-tag-block .author-content .featured-quote .tag-quoted p,
.ta-tag-block .tag-content .quote .author-quoted p,
.ta-tag-block .tag-content .quote .tag-quoted p,
.ta-tag-block .tag-content .featured-quote .author-quoted p,
.ta-tag-block .tag-content .featured-quote .tag-quoted p {
    font-size: 39px;
    line-height: 44.85px;
    letter-spacing: -0.5px;
  }
  .ta-author-block .author-content .quote .quote-body p,
.ta-author-block .author-content .featured-quote .quote-body p,
.ta-author-block .tag-content .quote .quote-body p,
.ta-author-block .tag-content .featured-quote .quote-body p,
.ta-tag-block .author-content .quote .quote-body p,
.ta-tag-block .author-content .featured-quote .quote-body p,
.ta-tag-block .tag-content .quote .quote-body p,
.ta-tag-block .tag-content .featured-quote .quote-body p {
    font-size: 26px;
    line-height: 32.24px;
  }
  .ta-author-block .author-content .author-description .author-summary p,
.ta-author-block .author-content .author-description .description-content p,
.ta-author-block .author-content .tag-description .author-summary p,
.ta-author-block .author-content .tag-description .description-content p,
.ta-author-block .tag-content .author-description .author-summary p,
.ta-author-block .tag-content .author-description .description-content p,
.ta-author-block .tag-content .tag-description .author-summary p,
.ta-author-block .tag-content .tag-description .description-content p,
.ta-tag-block .author-content .author-description .author-summary p,
.ta-tag-block .author-content .author-description .description-content p,
.ta-tag-block .author-content .tag-description .author-summary p,
.ta-tag-block .author-content .tag-description .description-content p,
.ta-tag-block .tag-content .author-description .author-summary p,
.ta-tag-block .tag-content .author-description .description-content p,
.ta-tag-block .tag-content .tag-description .author-summary p,
.ta-tag-block .tag-content .tag-description .description-content p {
    font-size: 19px;
    line-height: 25.14px;
    letter-spacing: -0.1px;
  }
  .ta-author-block .tag-content,
.ta-tag-block .tag-content {
    max-width: 100%;
  }
}

/*# sourceMappingURL=author-tag-blocks.css.map */
