@mixin baskerville-italic {
  font-family: "Libre Baskerville";
  font-style: italic;
  font-weight: 400;
}

@mixin merriweather-900 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
}

@mixin red-hat-400 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
}

@mixin red-hat-500 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
}

@mixin red-hat-700 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 700;
}

@mixin red-hat-900 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
}

@mixin caladea-700 {
  font-family: "Caladea";
  font-style: normal;
  font-weight: 700;
}

@mixin button($color, $bg-color, $border: none) {
  @include red-hat-900;
  background-color: $bg-color;
  border: $border;
  color: $color;
  font-size: 15px;
  left: 50%;
  line-height: 20px;
  padding: 4px 10px;
}

@mixin antialiasing-fix {
  opacity: 0.99;
  transform: rotateX(0deg);
}
