:root {
  --ta-celeste: #16a1dc;
  --ta-gris-imagen: #ebebeb;
  --ta-celeste-fondos: #ebf7fe;
  --ta-negro-texto: #252b2d;
  --ta-gris-subtexto: #849899;
  --ta-socios: #ffbb0f;
  --ta-socios-fondos: #ffe7a9;
  --ta-espectaculos: #ce0d54;
  --ta-cultura: #48b1a7;
  --ta-deportes: #ee813c;
}
