.articles-list.slider {
    margin-bottom: 1rem;
}

.ta-article-slide {
    position: relative;
    height: 20rem;
}

.ta-article-slide.empty{
    border: solid 1px;
}

.ta-article-slide > .bkg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ta-article-slide > .content {
    position: relative;
    width: 100%;
    height: 100%;
}

.ta-article-slide > .bkg-container .bkg-img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.ta-article-slide > .bkg-container .bkg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ta-article-slide > .content {
    color: #fff;
    background: linear-gradient(0deg, black, transparent);
    display: flex;
    align-items: flex-end;
    padding: 1rem;
}

.ta-article-slide .article-data p {
    margin: 0;
}

.ta-article-slide .article-data .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4;
}

.ta-article-slide .article-data .cintillo {
    text-transform: uppercase;
}


.ta-article-slide .slider-bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

.ta-article-slide .slider-bullets .bullet {
    border-radius: 50%;
    border: solid 1px #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.25rem;
    cursor: pointer;
    transition: all 0.3s;
}

.ta-article-slide .slider-bullets .bullet:hover, .slider-bullets .bullet.active {
    background-color: #fff;
    /* border-color: #000; */
    color: #000;
}

.ta-article-slide .slider-bullets .bullet.active {
    cursor: default;
}

.ta-article-slide > .content > .content-container{
    width: 100%;
}
