.articles-row {
    position: relative;
    box-shadow: 0px 0 0px 0px #ffffff;
    transition: all 0.3s;
    padding: 0;
    border: solid 0px #16a1dc;
}

[data-type="ta/articles"].is-selected .articles-row.selected{
    box-shadow: 0 0px 10px 1px #000000;
    z-index: 10;
    padding: 10px;
    border-width: 7px;
}

.articles-row > .row-controls {
    position: absolute;
    top: -16px;
    right: -24px;
    z-index: 2;
}

.articles-row > .row-controls .remove-btn {
    background-color: red;
    padding: 9px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    cursor: pointer;
}

.articles-row > .row-controls .remove-btn > .dashicon {
    color: #fff;
}


.ta-articles-rows .movement-arrows {
    /* position: absolute; */
    height: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.ta-articles-rows .movement-arrows .arrows {
    position: absolute;
    top: 0;
    width: 0;
    height: calc(100% + 110px);
    top: -55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.ta-articles-rows .movement-arrows .arrows .arrow-up, .ta-articles-rows .movement-arrows .arrows .arrow-down {
    line-height: 0;
    cursor: pointer;
}

.ta-articles-rows .movement-arrows .arrows .arrow-down {
    flex: 100%;
    display: flex;
    align-items: flex-end;
}

.ta-articles-rows .movement-arrows .arrows .dashicon {
    font-size: 4rem;
    text-align: center;
    height: auto;
    width: auto;
    line-height: 0.75;
    color: #fff;
    text-shadow: 0px 0px 3px #000000;
    background: #16a1dc;
}

.ta-articles-rows .balancer-overlay {
    position: absolute;
    top: 0px;
    left: -80px;
    max-width: 80px;
    z-index: 1;
    background: #16a1dcd6;
    padding: 0.25rem 1rem;
    user-select: none;
}

.ta-articles-rows .balancer-overlay img {
    height: auto;
    width: 100%;
    filter: contrast(0) brightness(3.5);
}
