@import "../variables";
@import "../mixins";

body {
  color: var(--ta-negro-texto);
  overflow-x: hidden !important;
  @include antialiasing-fix;
}

a {
  color: var(--ta-negro-texto) !important;
}

.header {
  box-shadow: 0px 2px 2px #eef0f1;

  .desktop-ribbon {
    background-color: var(--ta-negro-texto);

    p {
      font-size: 16px;
    }

    .beneficios-socios {
      background-color: var(--ta-socios);

      p {
        @include red-hat-400;
        color: var(--ta-negro-texto);
        margin: 0;
      }
    }

    .temas-importantes {
      p {
        @include red-hat-400;
        margin: 0;
      }

      .title {
        p {
          @include red-hat-900;
        }
      }
    }

    .redes {
      > div {
        margin-right: 10px;
        display: flex;
        align-items: center;

        a,
        div {
          max-width: 21px;
          height: 21px;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
        }
      }
    }

    p {
      color: white;
    }
  }
  .header-content {
    .tiempo-logo {
      max-width: 60%;
      align-self: center;
    }

    .weather {
      p {
        @include baskerville-italic;
        font-size: 16px;
        margin: 0;
      }

      .ta-gris-color {
        span {
          color: var(--ta-gris-subtexto);
        }
      }
    }

    .asociate-banner {
      max-width: 35%;
    }

    .asociate-banner {
      .asociate-banner-content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .separator {
          margin-top: 0;
          background-color: white;
          width: 50px;
        }

        p {
          @include red-hat-900;
          color: white;
          font-size: 15px;
          line-height: 15.85px;
        }
      }
    }
  }
}

.hamburger-menu {
  z-index: 20;
  button {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    outline: none;

    span {
      background-color: var(--ta-celeste);
      width: 23px;
      height: 2px;
      margin-top: 7px;
      transition: all 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    &[aria-expanded="true"] {
      span {
        &:first-of-type {
          transform: rotate(45deg) translate(6px, 6px);
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:last-of-type {
          transform: rotate(-45deg) translate(7px, -6.5px);
        }
      }
    }

    &[aria-expanded="false"] {
      span {
        transform: none;
        opacity: 1;
      }
    }
  }
}

.search-icon {
  outline: none;

  &:focus {
    box-shadow: none;
  }

  &.btn-link {
    color: var(--ta-negro-texto) !important;
  }
}

.search-bar-container {
  background-color: var(--ta-celeste-fondos);
  border: 1px solid var(--ta-celeste);

  .close {
    div {
      max-width: 23px;
      button {
        background-color: transparent;
        padding: 0;
        border: none;
      }
    }
  }

  .input-container {
    .input-wrapper {
      input {
        padding: 0 10px;
        background: white;
        width: 100%;
        border: 1.5px solid var(--ta-celeste);
        outline: none;
        border-radius: 20px;

        height: 38px;

        &::placeholder {
          @include red-hat-400;
          color: var(--ta-celeste);
          font-size: 15px;
          letter-spacing: -0.2px;
        }
      }
    }
  }

  .search {
    button {
      @include button(white, var(--ta-celeste));
      padding-left: 40px;
      padding-right: 40px;
      outline: none;

      &:focus {
        box-shadow: none;
      }
    }
  }
}

.menu {
  position: absolute;
  top: 0;
  background-color: white;
  z-index: 20;
  width: 100%;
  padding-bottom: 30px;
  box-shadow: 4px 4px 10px rgba(132, 152, 153, 0.4);
  left: 50%;
  transform: translateX(-50%);

  .menu-header {
    padding: 14px 0;
    > .hamburger-menu {
      button {
        span {
          background-color: transparent;
        }
      }
    }

    .tiempo-menu-logo,
    .search-icon,
    .profile-icon {
      max-width: 34px;
    }

    .search-icon {
      background-color: transparent;
      border: none;
      padding: 0;
    }
  }
  .menu-section-wrapper {
    max-width: 75%;
    margin: 0 auto;
    .menu-section {
      padding-top: 15px;

      .menu-item {
        margin-bottom: 10px;

        &.seamos-socios {
          h5 {
            color: var(--ta-socios);
          }
        }

        &.cultura {
          h6 {
            color: var(--ta-cultura);
          }
        }

        &.espectaculos {
          h6 {
            color: var(--ta-espectaculos);
          }
        }

        &.deportes {
          h6 {
            color: var(--ta-deportes);
          }
        }

        &.ver-mas {
          h6 {
            color: var(--ta-gris-subtexto);
          }
        }
      }
    }

    .card {
      border: none;

      .card-header {
        background-color: white;
        border: none;
        padding: 0;

        .collapsed {
          img {
            transform: rotate(180deg);
          }
        }
      }

      button {
        text-decoration: none;
        outline: none;
        padding: 0.75rem 1.25rem;

        &:focus {
          box-shadow: none;
        }
      }
    }
    .separator {
      background-color: var(--ta-gris-subtexto);
      margin: 0;
      display: block;
    }

    p {
      @include red-hat-500;
      font-size: 15px;
      margin-bottom: 0;
    }

    h5 {
      @include red-hat-900;
      color: var(--ta-gris-subtexto);
      font-size: 15px;
      margin-bottom: 0;
      margin-left: 5px;
    }

    .destacados {
      h6,
      p {
        @include red-hat-700;
        font-size: 15px;
        margin-bottom: 0;
        margin-left: 10px;
      }
    }
  }

  .ta-redes {
    .redes-sociales {
      div {
        margin-right: 10px;
      }
    }
  }
}

.banner-covid {
  background-color: var(--ta-gris-imagen);

  .separator {
    margin: 0;
    background-color: var(--ta-gris-subtexto);
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  .title {
    p {
      @include red-hat-900;
    }
  }

  .content {
    p {
      @include red-hat-400;
    }
  }
}

.line-height-0 {
  line-height: 0;
}

.ta-celeste-color {
  color: var(--ta-celeste);
}

.separator {
  background-color: var(--ta-celeste);
  display: inline-block;
  height: 2px;
  margin-top: 25px;
  width: 73px;
}

.light-blue-bg {
  background-color: var(--ta-celeste-fondos);
}

.tiempo-blue-bg {
  background-color: var(--ta-celeste);
}

.ta-context {
  &.dark-blue-bg {
    background-color: var(--ta-celeste);

    .article-preview {
      .content {
        .article-info-container {
          .format,
          .author {
            p {
              color: white;
            }
          }
        }
      }
    }

    .btns-container {
      .ver-mas {
        button {
          color: white;
        }
      }
    }
  }

  &.dark-bg {
    background-color: var(--ta-negro-texto);

    .section-title {
      h4 {
        color: var(--ta-celeste);
      }
    }
  }

  &.blue-border {
    border: 1px solid var(--ta-celeste);
  }

  &.yellow-border {
    .ta-socios-block {
      border: 1px solid var(--ta-socios);
    }
  }

  &.talleres-especial {
    p {
      font-size: 17px;
      @include red-hat-500;
      span {
        @include red-hat-900;
      }
    }
  }

  &.newsletter-especial {
    .envelope-icon {
      display: block;
    }

    .newsletter-form {
      .input-icon {
        bottom: 4px;
        right: 24px;
        &.envelope {
          display: none;
        }

        &.send {
          display: block;
        }
      }
    }
  }
}

.container-with-header {
  .section-title {
    h4 {
      @include red-hat-900;
      font-size: 12px;
      margin: 0;
      color: #000;

      span {
        @include red-hat-400;
      }
    }
  }
}

.section-title {
  h4 {
    @include red-hat-900;
    font-size: 12px;
    margin: 0;
    color: #000;

    span {
      @include red-hat-400;
    }
  }
}

.category-title {
  h4 {
    color: var(--ta-celeste);
  }
}

.article-border {
  border-top: 2px solid var(--ta-celeste);
  width: 70px;
  margin: 5px 0;
}

.play-btn {
  img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.ver-mas {
  button {
    @include button(var(--ta-celeste), transparent);

    span {
      img {
        transform: rotate(90deg);
      }
    }
  }
}

.btns-container {
  .personalizar {
    button {
      @include button(
        var(--ta-celeste),
        transparent,
        2px solid var(--ta-celeste)
      );
    }
  }

  .ver-mas {
    button {
      @include button(var(--ta-celeste), transparent);

      span {
        img {
          transform: rotate(90deg);
        }
      }
    }
  }

  .pagination {
    button {
      @include red-hat-400;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid var(--ta-gris-subtexto);
      color: var(--ta-gris-subtexto);
      margin: 3px;
      width: 31px;
      height: 31px;

      &.active {
        @include red-hat-900;
        background-color: var(--ta-negro-texto);
        border: 1px solid var(--ta-negro-texto);
        color: var(--ta-celeste-fondos);
      }
    }
  }
}

.tiempo-blue-bg {
  .sub-blocks {
    .ta-articles-block {
      .article {
        .content {
          .article-info-container {
            .author,
            .format {
              color: var(--white) !important;
            }
          }
        }
      }
    }
  }

  .btns-container {
    .ver-mas {
      button {
        color: var(--white) !important;
      }
    }
  }
}

.featured-quote {
  .quote-body {
    p {
      @include baskerville-italic;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.2px;
    }
  }

  .author-quoted {
    p {
      color: var(--ta-gris-subtexto);
      @include baskerville-italic;
      font-size: 12px;
      line-height: 15px;
      text-align: right;
    }
  }
}

.sponsor {
  p {
    span {
      @include red-hat-700;
    }
  }
}

.mira-tambien,
.mas-leidas {
  .description {
    p {
      @include red-hat-400;
      font-size: 15px;
      letter-spacing: -0.2px;
      line-height: 16.5px;
    }
  }
}

.footer-content {
  .tiempo-logo {
    max-width: 75%;
  }

  p {
    @include red-hat-400;
    font-size: 15px;
    font-style: normal;

    span {
      @include red-hat-700;
    }
  }

  .description p {
    @include red-hat-400;
    font-style: italic;
  }

  .address p,
  .derechos {
    @include red-hat-500;
    font-style: italic;
  }
}

/////// ver mas //////

#more {
  display: none;
}

@media (min-width: 500px) and (max-width: 992px) {
  .ta-context {
    &.newsletter-especial {
      .newsletter {
        max-width: 100%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .ta-context {
    &.talleres-especial {
      p {
        font-size: 24px;
      }
    }

    &.mas-leidas-especial {
      .ta-articles-block {
        display: flex;
      }
    }
  }

  .menu {
    padding: 60px 0 !important;
    .menu-header {
      .tiempo-menu-logo,
      .search-icon,
      .profile-icon {
        max-width: 100%;
      }
    }
  }

  .hamburger-menu {
    button {
      span {
        width: 30px;
      }
    }
  }

  .header {
    .header-content {
      .tiempo-logo {
        max-width: 204px;
      }

      .asociate-banner {
        .asociate-banner-content {
          p {
            font-size: 22px;
          }
        }
      }
    }
  }

  .container-with-header {
    .section-title {
      h4 {
        font-size: 16px;
        line-height: 21.17px;
      }
    }
  }

  .section-title {
    h4 {
      font-size: 16px;
      line-height: 21.17px;
    }
  }

  .btns-container {
    .personalizar {
      button {
        @include button(var(--ta-celeste), transparent);
        text-decoration: underline;
        font-size: 19px;
        line-height: 25.14px;
      }
    }

    .ver-mas {
      button {
        font-size: 19px;
        line-height: 25.14px;
      }
    }
  }

  .footer-content {
    .tiempo-logo {
      max-width: 100%;
    }
    p {
      font-size: 19px;
    }
  }
}
