@import "../variables";
@import "../mixins";

.newsletter {
  .envelope-icon {
    display: none;
  }
  p {
    @include red-hat-400;
    font-size: 15px;
    letter-spacing: -0.2px;
    line-height: 16.5px;

    span {
      color: var(--ta-celeste);
    }
  }

  .newsletter-form {
    input {
      border-radius: 20px;
      border: 1.5px solid var(--ta-celeste);
      box-sizing: border-box;
      height: 38px;
      width: 90% !important;
      left: 50%;
      max-width: 90%;
      padding: 0 10px;
      position: relative;
      transform: translateX(-50%);
      padding-right: 55px;

      &::placeholder {
        @include red-hat-400;
        color: var(--ta-celeste);
        font-size: 15px;
        letter-spacing: -0.2px;
      }
    }

    .input-icon {
      position: relative;
      bottom: 6px;
      right: 35px;
      max-width: 30px;

      &.send {
        display: none;
      }
    }

    button {
      @include button(var(--white), var(--ta-celeste));
      width: 50% !important;
      position: relative;
      transform: translateX(-50%);
    }
  }

  .newsletter-options {
    button {
      @include button(
        var(--ta-celeste),
        var(--white),
        2px solid var(--ta-celeste)
      );
      width: 60% !important;
      position: relative;
      transform: translateX(-50%);
    }
  }
}

@media (min-width: 500px) and (max-width: 992px) {
  .newsletter {
    max-width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .newsletter {
    .section-title {
      h4 {
        font-size: 19px;
        line-height: 25.14px;
        letter-spacing: -0.1px;
      }
    }

    p {
      font-size: 19px;
      line-height: 25.14px;
      letter-spacing: -0.1px;
    }

    .newsletter-form {
      input {
        height: 43px;
        padding-right: 60px;
        background-color: var(--ta-celeste-fondos);

        &::placeholder {
          font-size: 19px;
          letter-spacing: -0.1px;
        }
      }

      button {
        font-size: 19px;
        line-height: 25.14px;
        letter-spacing: -0.1px;
        padding: 8px 35px;
        width: auto !important;
        max-width: 60%;
      }

      .input-icon {
        bottom: 9px;
        right: 30px;
      }
    }

    .newsletter-options {
      button {
        font-size: 19px;
        line-height: 25.14px;
        letter-spacing: -0.1px;
        background-color: var(--ta-celeste-fondos);
      }
    }
  }
}
