@import "../variables";
@import "../mixins";

.ta-socios-block {
  border: 1px solid var(--ta-celeste);
  box-sizing: border-box;
  .title {
    h2 {
      @include baskerville-italic;
      font-size: 20px;
      line-height: 24.8px;
      letter-spacing: -0.2px;
    }
  }

  .subtitle {
    p {
      @include red-hat-400;
      font-size: 15px;
      line-height: 22.49px;
      letter-spacing: -0.2px;
      margin-bottom: 0;

      span {
        font-weight: 700;
      }
    }
  }

  /* .img-container {
        max-width: 70%;
        margin: 0 auto;
      } */

  .asociarme-btn {
    button {
      @include button(var(--white), var(--ta-socios));
    }
  }

  .optional-content {
    p {
      @include red-hat-400;
      font-size: 15px;
      line-height: 19.85px;
      letter-spacing: -0.2px;
    }
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  .ta-socios-block {
    .img-container {
      max-width: 60%;
      margin: 0 auto;
    }

    .asociarme-btn {
      button {
        padding: 8px 30px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .ta-socios-block {
    .title {
      h2 {
        font-size: 26px;
        line-height: 32.24px;
      }
    }

    .subtitle {
      p {
        font-size: 19px;
        line-height: 25.14px;
      }
    }
    .asociarme-btn {
      button {
        font-size: 19px;
        line-height: 25.14px;
        padding: 8px 35px;
      }
    }

    .optional-content {
      p {
        font-size: 19px;
        line-height: 25.14px;
        letter-spacing: -0.1px;
      }
    }
  }
}
